@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  position: relative;
  
  height: 100vh;
  color: #333;
  background-color: #f9b;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* MAIN LAYOUT */

.main-main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 40rem;
  background-color: gray;
}

.main-section-container{ /*denna behöver växa med main-main-container*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 20rem;
  background-color: rgb(247, 103, 151);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
}

/*** MEDIA QUERIES ***/

@media (min-width: 320px) {
  .main-main-container {
    width: 18rem;
    height: 40rem;
  }

  .main-section {
    width: 18rem;
    height: 20rem;
  }

}

@media (min-width: 375px) {
  .main-main-container {
    width: 21rem;
    height: 40rem;
  }

  .main-section {
    width: 21rem;
    height: 23rem;
  }
}

@media (min-width: 425px) {
  .main-main-container {
    width: 24rem;
    height: 40rem;
  }

  .main-section {
    width: 24rem;
    height: 23rem;
  }
}

@media (min-width: 768px) {
  .main-main-container {
    width: 44rem;
    height: 40rem;
  } 

  .main-section {
    width: 44rem;
    height: 33rem;
    top: 400px;
  }
}

@media (min-width: 1024px) {
  .main-main-container {
    width: 54rem;
    height: 40rem;
  }  

  .main-section {
    width: 54rem;
    height: 45rem;
    top: 400px;
  }
}

@media (min-width: 1440px) {
  .main-main-container {
    width: 78rem;
    height: 50rem;
  } 

  .main-section {
    width: 78rem;
    height: 45rem;
    top: 520px;
  }
}

@media (min-width: 2560px) {
  .main-main-container {
    width: 78rem;
    height: 50rem;
  } 

  .main-section {
    width: 78rem;
    height: 45rem;
    top: 50%;
  }
}



